<template>
  <div>
    <b-field grouped position="is-centered">
      <b-field label="Payment ID">
        <b-input id="paymentId" v-model="searchObject.paymentId"></b-input>
      </b-field>
      <b-field label="Application ID">
        <b-input
          id="applicationId"
          v-model="searchObject.applicationId"
        ></b-input>
      </b-field>
    </b-field>
    <b-field grouped position="is-centered">
      <b-field label="Policy ID">
        <b-input id="policyId" v-model="searchObject.policyId"></b-input>
      </b-field>
      <b-field label="Date">
        <b-input id="date" v-model="searchObject.date">></b-input>
      </b-field>
    </b-field>
    <b-field grouped position="is-centered">
      <b-field label="Status">
        <b-select id="status" v-model="searchObject.status">
          <option value="Completed">Completed</option>
          <option value="Pending">Pending</option>
          <option value="Canceled">Canceled</option>
        </b-select>
      </b-field>
    </b-field>
    <b-field grouped position="is-centered">
      <p class="control">
        <b-button class="button is-info" icon-left="magnify" @click="search"
          >Search</b-button
        >
        <b-button
          id="clear"
          class="button is-danger"
          icon-left="close"
          @click="clear"
        >
          Clear
        </b-button>
      </p>
    </b-field>

    <b-select v-model="perPage">
      <option value="5">5 per page</option>
      <option value="10">10 per page</option>
      <option value="20">20 per page</option>
      <option value="30">30 per page</option>
    </b-select>

    <b-table
      :data="search()"
      :paginated="true"
      :pagination-simple="false"
      :per-page="perPage"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
    >
      <template slot-scope="props">
        <b-table-column field="index" label="No." numeric centered>
          {{ props.index + 1 }}
        </b-table-column>

        <b-table-column field="payment_id" label="Payment ID">
          {{ props.row.payment_id }}
        </b-table-column>

        <b-table-column field="application_id" label="Application ID">
          {{ props.row.application_id }}
        </b-table-column>

        <b-table-column field="policy_id" label="Policy ID">
          {{ props.row.policy_id }}
        </b-table-column>

        <b-table-column field="date" label="Date" centered>
          {{ props.row.date }}
        </b-table-column>

        <b-table-column field="status" label="Status" centered>
          {{ props.row.status }}
        </b-table-column>

        <b-table-column label="Action" centered>
          <b-button
            id="edit"
            class="tag is-success"
            icon-left="card-search"
            @click="view(props.row.payment_id)"
            >View</b-button
          >
        </b-table-column>
      </template>
    </b-table>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    paymentModel: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    const today = new Date()
    this.$store.commit('mstData/SET_LIST')
    return {
      date: new Date(),
      maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()),
      searchObject: {
        paymentId: '',
        applicationId: '',
        policyId: '',
        date: '',
        status: '',
      },
      perPage: 5,
    }
  },
  computed: {
    // ...mapState("mstData", ["transaction"])
  },
  methods: {
    ...mapActions({
      initData: 'mstData/init',
    }),
    getArea() {
      this.ifLocation = false
      this.ifArea = true
    },
    search() {
      function matchFn(mst, cri) {
        return mst === cri || cri === ''
      }
      return this.$store.state.mstData.transaction
        .filter(
          (d) =>
            matchFn(d.application_id, this.searchObject.applicationId) &&
            matchFn(d.payment_id, this.searchObject.paymentId) &&
            matchFn(d.policy_id, this.searchObject.policyId) &&
            matchFn(d.date, this.searchObject.date) &&
            matchFn(d.status, this.searchObject.status)
        )
        .sort((a, b) => {
          return new Date(a.date) - new Date(b.date)
        })
    },
    clear() {
      this.searchObject.paymentId = ''
      this.searchObject.applicationId = ''
      this.searchObject.policyId = ''
      this.searchObject.date = ''
      this.searchObject.status = ''
    },

    view(event) {
      this.$router.push({ path: 'transaction', query: { paymentId: event } })
    },
  },
}
</script>
