<template>
  <section class="section">
    <Search />
  </section>
</template>
<script>
import Search from '~/components/Search'

export default {
  layout: 'empty',
  components: {
    Search,
  },
}
</script>
