<template>
  <section class="section">
    <Transaction />
  </section>
</template>
<script>
import Transaction from '~/components/Transaction'
export default {
  layout: 'empty',
  components: {
    Transaction,
  },
}
</script>
